.card-grid__content {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  justify-content: center;
}

.card-grid__header {
  text-align: center;
  padding: 1rem;

  font-size: 3rem;
  font-style: italic;
  font-family: "Roboto", serif;
}

.card-grid {
  display: flex;
  flex-flow: column nowrap;
  gap: 66px;
}
