.live-icon {
  height: 20px;
  width: 24px;
}

.online {
  fill: green;
}

.offline {
  fill: red;
}

.info {
  flex-grow: 5;
  display: grid;
  grid-template-rows: [stream-info] 35px [stream-title] 1fr;
  padding: 10px;
  gap: 10px;
}

.info__user {
  grid-row: stream-info;
  display: flex;
  flex-flow: row nowrap;
  justify-items: flex-start;
  align-items: center;
  gap: 20px;

  font-weight: bold;
}

.info__viewers {
  grid-row: stream-title;
  justify-self: flex-end;
  margin-left: auto;
}
