.card__container,
.card__media,
.card__media::before {
  height: 450px;
  width: 400px;
  transition: transform 0.8s;
}

.card__content--hover {
  transform: scaleY(1.1) scaleX(1.1);
}
.card__media:hover,
.card__media:hover::before {
  transform: scale(1.05);
}

.card__container {
  display: grid;
  grid-template-columns: [start] 1fr [end];
  grid-template-rows: [thumbnail-start] 2fr [thumbnail-end content-start] 1fr [content-end];
  place-content: center start;

  align-items: stretch;

  box-shadow: 10px 12px 1rem #444;
  border-radius: 15px;
}
.card__content {
  grid-row: content-start / content-end;
  grid-column: start / end;

  padding: 15px;

  display: flex;
  flex-flow: row nowrap;

  position: relative;
  z-index: 2;
  transition: transform 0.3s;
}

.card__title {
  font-size: 1.5rem;
}

.card__subtitle {
  font-size: 1.2rem;
}

.card__media {
  grid-row: thumbnail-gutter / content;

  display: flex;
  justify-content: center;

  border-radius: 20px;
  border-width: 1px;

  overflow: hidden;
  z-index: 0;
  position: absolute;
}

.card__media::before {
  grid-row: thumbnail-gutter / content;
  background-color: #3e3e3e;
  opacity: 0.4;

  content: "";

  height: 100%;
  width: 100%;
  z-index: 1;

  position: absolute;
  top: 0;
  left: 0;

  margin: 0 auto;

  transition: opacity 1s;
}

.card__media:hover::before {
  opacity: 0;
}
