.spinner {
  height: 100%;
  width: 100%;

  margin: auto;

  display: flex;
  justify-content: center;
  align-content: center;

  justify-items: center;
  align-items: center;
}
.spinner__svg {
  fill: #e3e3aa;
}
