.App {
  width: auto;
  min-height: 100vh;

  padding-bottom: 110px;

  display: grid;
  grid-template-columns: [lgutter-start] 3rem [lgutter-end main-start] 1fr [main-end rgutter-start] 3rem [rgutter-end];
  grid-template-rows: [header] 75px [body] 1fr;
  grid-gap: 2rem;

  color: #e3e3aa;
  background-color: #555555;

  font-size: 1.2rem;
}
.App__header {
  grid-column: main-start / main-end;
  grid-row: header / body;

  text-align: center;
  padding: 2rem;
}

.App__body {
  grid-column: main-start / main-end;
  grid-row: body;
}

.text-background-black {
  --text-background-color: rgba(3, 3, 3, 0.6);
}

.text-background-fill {
  background-color: var(--text-background-color);
  padding: 0.5rem;
}

.text-background-light {
  --text-background-color: rgba(150, 150, 150, 0.6);
}
