@import url("https://fonts.googleapis.com/css?family=Roboto:thin,thinitalic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

body {
  margin: 0;
  font-family: "Raleway", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
